@model WebDraw.Models.Chain
@{
    ViewBag.Title = "FullChain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here is the full dealy (yo)</h2>
<h3>It all begin right here:</h3>
<h3>@Model.StartSuggestion.Description</h3>

@foreach (var entry in Model.Entries)
{
    if (entry.entryType == WebDraw.Models.EntryType.Picture)
    {
        <img src="~/Images/@entry.Value" /><br />
    }
    else
    {
        <h3>@entry.Value</h3>
    }
}


