@model WebDraw.Models.Chain
@{
    ViewBag.Title = "FullChain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here was the game!</h2>
<h3>It all began right here:</h3>

<div class="entry ent-description">
    <h3>@Model.StartSuggestion.Description</h3>
</div>
@foreach (var entry in Model.Entries)
{
    if (entry.entryType == WebDraw.Models.EntryType.Picture)
    {
        <div class="entry ent-picture">
            <img src="@entry.PictureURL " /><br />
</div>
    }
    else
    {
        <div class="entry ent-description">
            <h3>@entry.Value</h3>
        </div>
    }
}


