@model WebDraw.Models.Entry

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #simple_sketch {
        width: 800px;
        height: 300px;
    }
</style>

<h2>Draw this image:</h2>
<h3>@Model.Value</h3>

<div id="simple_sketch"></div>



<br />
<form action="/draw/saveimage" method="post" id="form1" enctype="multipart/form-data">
    <div class="btn btn-primary" onclick="submit_form()">Submit!</div>
    <input type="hidden" name="img_save" id="img_save" />
    <input type="hidden" name="save_id" value="@Model.ChainId" />
</form>

@section Scripts {
    @Scripts.Render("~/bundles/draw")

    <script type="text/javascript">
        $(function () {
            myBoard = new DrawingBoard.Board('simple_sketch');
            setTimeout(() => { myBoard.reset({ webStorage: true, history: true, background: true }) }, 500);
        });

        function submit_form() {
            document.getElementById('img_save').value = myBoard.getImg();
            document.forms["form1"].submit();
        }


    </script>
}
