@model WebDraw.Models.Entry

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Draw this image:</h2>
<h3>@Model.Value</h3>

<canvas id="simple_sketch" width="800" height="300" style="border: 1px solid black;"></canvas>


<form>
    <label>Colour</label>
    <input type="color" onchange="sketcher.color = event.target.value;" value="#000000" autocomplete="off"> 
    <label>Mode</label>
    <button onclick="event.preventDefault(); active_button('draw');" class="btn btn-default active" id="draw">Draw</button>
    <button onclick="event.preventDefault(); active_button('fill');" class="btn btn-default" id="fill">Fill</button>
    <button onclick="event.preventDefault(); active_button('erase');" class="btn btn-default" id="erase">Erase</button>
    <button onclick="event.preventDefault(); sketcher.clear();" class="btn btn-danger">Clear Drawing</button><br>

    <label>Line Thickness</label><br>
    <input type="range" min="1" max="40" oninput="sketcher.weight = parseFloat(event.target.value);" value="7" step="0.1" autocomplete="off">
</form>

<br />
<form action="/draw/saveimage" method="post" id="form1" enctype="multipart/form-data">
    <div class="btn btn-primary" onclick="submit_form()">Submit!</div>
    <input type="hidden" name="img_save" id="img_save" />
    <input type="hidden" name="save_id" value="@Model.ChainId" />
</form>

@section Scripts {
    @Scripts.Render("~/bundles/draw")

    <script type="text/javascript">
        function active_button(btn) {
            $('button').removeClass('active');
            $('#' + btn).addClass("active");
            sketcher.mode = btn;
        }

        $(function () {
            sketcher = atrament('#simple_sketch', 800, 300, 'white');
            sketcher.smoothing = false;
            sketcher.mode = "draw";
            sketcher.color = "#000000"
            sketcher.opacity = 1.0;
            sketcher.weight = 7.0;
            sketcher.adaptiveStroke = false;
        });

        function submit_form() {
            document.getElementById('img_save').value = document.getElementById('simple_sketch').toDataURL('image/png');
            document.forms["form1"].submit();
        }
    </script>
}
