@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Time to play some Drawing Broken Telephone!</p>
    @Html.ActionLink("Draw", "StartChain", "Draw",null, new { @class = "btn btn-primary" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How are we done?</h2>
        <p>
            I haven't made it stop automatically yet. So, you need the link.
        </p>
    </div>
    
</div>